<h1>Github-Search</h1>
<form action="" class="enter">
    <div class="form-group">
        <input type="text" placeholder="Enter username here...." class="form-control"  [(ngModel)]="username" name="username" (keyup)="getProfileInfo()"> 
    </div>
</form>
<div *ngIf="profile">
    <div class="row">
        <div class="col-sm-3">
            <!-- <img class="img" src="{{profile.avatar_url}}" class="img-fluid" alt="profile"> -->
        </div>
        <br>
        <br>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                <li class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
                <li class="list-group-item" *ngIf="profile.hireable">{{profile.hireable}}</li>
                <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
            </ul>
        </div>
    </div>
</div>